/* Constants */

:root {
    --icon-size: 24px;
    --primary-color: #4285f4;
    --paired-device-color: #00a69c;
    --peer-width: 120px;
    color-scheme: light dark;
}

/* Layout */

html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    overscroll-behavior: none;
    overflow-y: hidden;
}

body {
    height: 100%;
    /* mobile viewport bug fix */
    min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
}

html {
    height: 100%;
    min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    position: absolute;
    align-items: baseline;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100vw;
    z-index: 2;
    top: 0;
    right: 0;
}

header > a,
header > div {
    margin-left: 8px;
}

header > div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    touch-action: manipulation;
}

header > div .icon-button {
    height: 40px;
    transition: all 300ms;
}

header > div > div {
    display: flex;
    flex-direction: column;
}

header > div:not(:hover) .icon-button:not(.selected) {
    height: 0;
    opacity: 0;
}

#theme-wrapper:hover::before {
    border-radius: 20px;
    background: currentColor;
    opacity: 0.1;
    transition: opacity 300ms;
    content: '';
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

header > div:hover .icon-button.selected::before {
    opacity: 0.1;
}

@media (pointer: coarse) {
    header > div:hover .icon-button.selected:hover::before {
        opacity: 0.2;
    }

    header > div .icon-button:not(.selected) {
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    header > div > div {
        flex-direction: column-reverse;
    }
}

[hidden] {
    display: none !important;
}


/* Typography */

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 40px;
    margin: 8px 0 0;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.012em;
    line-height: 32px;
    color: var(--primary-color);}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0;
    color: var(--primary-color);
}

.font-subheading {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-break: normal;
}

.text-center {
    text-align: center;
}

.font-body1,
body {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.font-body2 {
    font-size: 12px;
    line-height: 18px;
}

a,
.icon-button {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

hr {
    color: white;
}

x-noscript {
    background: var(--primary-color);
    color: white;
    z-index: 2;
}


/* Icons */

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
}



/* Shadows */

[shadow="1"] {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
        0 1px 8px 0 rgba(0, 0, 0, 0.12),
        0 3px 3px -2px rgba(0, 0, 0, 0.4);
}

[shadow="2"] {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.4);
}




/* Animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

#center {
    position: relative;
    display: flex;
    margin-top: 56px;
    flex-direction: column-reverse;
    flex-grow: 1;
    --footer-height: 132px;
    max-height: calc(100vh - 56px - var(--footer-height));
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-x: none;
}

@media screen and (max-width: 425px) {
    header:has(#clear-pair-devices:not([hidden]))~#center {
        --footer-height: 150px;
    }
}

/* Peers List */

#x-peers-filler {
    display: flex;
    flex-grow: 1;
}

x-peers {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: start !important;
    justify-content: center;

    z-index: 2;
    transition: --bg-color 0.5s ease;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-x: none;
    scrollbar-width: none;

    --peers-per-row: 6; /* default if browser does not support :has selector */
    --x-peers-width: min(100vw, calc(var(--peers-per-row) * (var(--peer-width) + 25px) - 16px));
    width: var(--x-peers-width);
    margin-right: 20px;
    margin-left: 20px;
}

x-peers.overflowing {
    background: /* Shadow covers */ linear-gradient(rgb(var(--bg-color)) 30%, rgba(var(--bg-color), 0)),
    linear-gradient(rgba(var(--bg-color), 0), rgb(var(--bg-color)) 70%) 0 100%,
        /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(var(--text-color), .2), rgba(var(--text-color), 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(var(--text-color), .2), rgba(var(--text-color), 0)) 0 100%;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

x-peers:has(> x-peer) {
    --peers-per-row: 10;
}

@media screen and (min-height: 505px) and (max-height: 649px) and (max-width: 426px),
screen and (min-height: 486px) and (max-height: 631px) and (min-width: 426px) {
    x-peers:has(> x-peer) {
        --peers-per-row: 3;
    }

    x-peers:has(> x-peer:nth-of-type(7)) {
        --peers-per-row: 4;
    }

    x-peers:has(> x-peer:nth-of-type(10)) {
        --peers-per-row: 5;
    }

    x-peers:has(> x-peer:nth-of-type(13)) {
        --peers-per-row: 6;
    }

    x-peers:has(> x-peer:nth-of-type(16)) {
        --peers-per-row: 7;
    }

    x-peers:has(> x-peer:nth-of-type(19)) {
        --peers-per-row: 8;
    }

    x-peers:has(> x-peer:nth-of-type(22)) {
        --peers-per-row: 9;
    }

    x-peers:has(> x-peer:nth-of-type(25)) {
        --peers-per-row: 10;
    }
}

@media screen and (min-height: 649px) and (max-width: 425px),
screen and (min-height: 631px) and (min-width: 426px) {
    x-peers:has(> x-peer) {
        --peers-per-row: 3;
    }

    x-peers:has(> x-peer:nth-of-type(10)) {
        --peers-per-row: 4;
    }

    x-peers:has(> x-peer:nth-of-type(13)) {
        --peers-per-row: 5;
    }

    x-peers:has(> x-peer:nth-of-type(16)) {
        --peers-per-row: 6;
    }

    x-peers:has(> x-peer:nth-of-type(19)) {
        --peers-per-row: 7;
    }

    x-peers:has(> x-peer:nth-of-type(22)) {
        --peers-per-row: 8;
    }

    x-peers:has(> x-peer:nth-of-type(25)) {
        --peers-per-row: 9;
    }

    x-peers:has(> x-peer:nth-of-type(28)) {
        --peers-per-row: 10;
    }
}

::-webkit-scrollbar {
    display: none;
}

/* Empty Peers List */

x-no-peers {
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    animation: fade-in 300ms;
    animation-fill-mode: backwards;
    /* prevent flickering on load */
    animation-iteration-count: 0;
}

x-no-peers h2,
x-no-peers a {
    color: var(--primary-color);
    margin-bottom: 5px;
}

x-peers:not(:empty)+x-no-peers {
    display: none;
}

x-no-peers::before {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.012em;
    line-height: 32px;
}

x-no-peers[drop-bg]::before {
    content: "Release to select recipient";
}

x-no-peers[drop-bg] * {
    display: none;
}



/* Peer */

x-peer {
    -webkit-user-select: none;
    user-select: none;
    padding: 8px;
    align-content: start;
    flex-wrap: wrap;
}

x-peer label {
    width: var(--peer-width);
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}

input[type="file"] {
    visibility: hidden;
    position: absolute;
}

x-peer x-icon {
    --icon-size: 40px;
    margin-bottom: 4px;
    transition: transform 150ms;
    will-change: transform;
    display: flex;
    flex-direction: column;
}

x-peer .icon-wrapper {
    width: var(--icon-size);
    padding: 12px;
    border-radius: 50%;
    background: var(--primary-color);
    color: white;
    display: flex;
}

x-peer:not(.type-ip).type-secret .icon-wrapper {
    background: var(--paired-device-color);
}

x-peer x-icon > .highlight-wrapper {
    align-self: center;
    align-items: center;
    margin: 7px auto 0;
    height: 6px;
}

x-peer x-icon > .highlight-wrapper > .highlight {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: none;
}

x-peer.type-secret x-icon > .highlight-wrapper > .highlight {
    background-color: var(--paired-device-color);
    display: inline;
}

x-peer:not([status]):hover x-icon,
x-peer:not([status]):focus x-icon {
    transform: scale(1.05);
}

x-peer[status] x-icon {
    box-shadow: none;
    opacity: 0.8;
    transform: scale(1);
}

.device-descriptor {
    width: 100%;
    text-align: center;
}

.device-descriptor > div {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.status,
.device-name,
.connection-hash {
    height: 18px;
    opacity: 0.7;
}

.device-name {
    font-size: 14px;
    white-space: nowrap;
}

.connection-hash {
    font-size: 12px;
    white-space: nowrap;
}

x-peer[status=transfer] .status:before {
    content: 'Transferring...';
}

x-peer[status=prepare] .status:before {
    content: 'Preparing...';
}

x-peer[status=wait] .status:before {
    content: 'Waiting...';
}

x-peer[status=process] .status:before {
    content: 'Processing...';
}

x-peer:not([status]) .status,
x-peer[status] .device-name {
    display: none;
}

x-peer[status] {
    pointer-events: none;
}

x-peer x-icon {
    animation: pop 600ms ease-out 1;
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    40% {
        transform: scale(1.2);
    }
}

x-peer[drop] x-icon {
    transform: scale(1.1);
}



/* Footer */

footer {
    position: relative;
    margin-top: auto;
    z-index: 2;
    align-items: center;
    padding: 0 0 16px 0;
    text-align: center;
    transition: color 300ms;
    cursor: default;
}

footer .logo {
    --icon-size: 80px;
    margin-bottom: 8px;
    color: var(--primary-color);
    margin-top: -10px;
}

footer .font-body2 {
    color: var(--primary-color);
    margin: auto 18px;
}

#on-this-network {
    border-bottom: solid 4px var(--primary-color);
    padding-bottom: 1px;
}

#paired-devices {
    border-bottom: solid 4px var(--paired-device-color);
    padding-bottom: 1px;
}

#display-name {
    display: inline-block;
    text-align: left;
    border: none;
    outline: none;
    max-width: 15em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    margin-left: -1rem;
    margin-bottom: -6px;
    padding-right: 0.3rem;
    padding-left: 0.3em;
    padding-bottom: 0.1rem;
    border-radius: 1.3rem/30%;
    border-right: solid 1rem transparent;
    border-left: solid 1rem transparent;
    background-clip: padding-box;
    background-color: rgba(var(--text-color), 43%);
    color: white;
    transition: background-color 0.5s ease;
    overflow: hidden;
}

#edit-pen {
    width: 1rem;
    height: 1rem;
    margin-left: -1rem;
    margin-bottom: -2px;
    position: relative;
    z-index: -1;
}

/* Dialog */

x-dialog x-background {
    background: rgba(0, 0, 0, 0.61);
    z-index: 10;
    transition: opacity 300ms;
    will-change: opacity;
    padding: 15px;
    overflow: overlay;
}

x-dialog x-paper {
    z-index: 3;
    background: white;
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 300ms;
    will-change: transform;
}

#pair-device-dialog x-paper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: max(50%, 350px);
    margin-top: -328.5px;
    width: calc(100vw - 20px);
    height: 625px;
}

x-dialog:not([show]) {
    pointer-events: none;
}

x-dialog:not([show]) x-paper {
    transform: scale(0.1);
}

x-dialog:not([show]) x-background {
    opacity: 0;
}


x-dialog a {
    color: var(--primary-color);
}

x-dialog .font-subheading {
    margin-bottom: 5px;
}

/* PairDevicesDialog */

#key-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#key-input-container>input {
    width: 45px;
    height: 45px;
    font-size: 30px;
    padding: 0;
    text-align: center;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

#key-input-container>input + * {
    margin-left: 6px;
}

#key-input-container>input:nth-of-type(4) {
    margin-left: 5%;
}

#room-key {
    font-size: 50px;
    letter-spacing: min(calc((100vw - 80px - 99px) / 100 * 7), 23px);
    display: inline-block;
    text-indent: calc(0.5 * (11px + min(calc((100vw - 80px - 99px) / 100 * 6), 23px)));
    margin: 15px -15px;
}

#room-key-qr-code {
    margin: 16px;
}

#pair-device-dialog hr {
    margin: 40px -24px;
}

#pair-device-dialog x-background {
    padding: 16px!important;
}

/* Receive Dialog */

x-dialog .row {
    margin-top: 24px;
    margin-bottom: 8px;
}

/* button row*/
x-paper > div:last-child {
    margin: auto -24px -15px;
    border-top: solid 2.5px var(--border-color);
    height: 50px;
}

x-paper > div:last-child > .button {
    height: 100%;
    width: 100%;
}

x-paper > div:last-child > .button:not(:last-child) {
    border-left: solid 2.5px var(--border-color);
}

.file-description {
    margin-bottom: 25px;
}

.file-description .row {
    margin: 0
}

.file-description span {
    display: inline;
    word-break: normal;
}

.file-name {
    font-style: italic;
    max-width: 100%;
}

.file-stem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Send Text Dialog */

x-dialog .dialog-subheader {
    margin-bottom: 25px;
}

#text-input {
    min-height: 200px;
    margin: 14px auto;
}

/* Receive Text Dialog */

#receive-text-dialog #text {
    width: 100%;
    word-break: break-all;
    max-height: calc(100vh - 393px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
    white-space: pre-wrap;
    padding: 15px 0;
}

#receive-text-dialog #text a {
    cursor: pointer;
}

#receive-text-dialog #text a:hover {
    text-decoration: underline;
}

#receive-text-dialog h3 {
    /* Select the received text when double-clicking the dialog */
    user-select: none;
    pointer-events: none;
}

.row-separator {
    border-bottom: solid 2.5px var(--border-color);
    margin: auto -24px;
}

#base64-paste-btn,
#base64-paste-dialog .textarea {
    width: 100%;
    height: 40vh;
    border: solid 12px #438cff;
    text-align: center;
}

#base64-paste-dialog .textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#base64-paste-dialog .textarea::before {
    font-size: 15px;
    letter-spacing: 0.12em;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    content: attr(placeholder);
}

#base64-paste-dialog button {
    margin: auto;
    border-radius: 8px;
}

#base64-paste-dialog button[close] {
    margin-top: 20px;
}

#base64-paste-dialog button[close]:before {
    border-radius: 8px;
}

/* Button */

.button {
    padding: 2px 16px 0;
    box-sizing: border-box;
    min-height: 36px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background: inherit;
    color: var(--primary-color);
    overflow: hidden;
}

.button[disabled] {
    color: #5B5B66;
}


.button,
.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
    border: none;
    outline: none;
}

.button:before,
.icon-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity 300ms;
}

.button:not([disabled]):hover:before,
.icon-button:hover:before {
    opacity: 0.1;
}

#cancel-paste-mode {
    z-index: 2;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    background-color: var(--primary-color);
    color: rgb(238, 238, 238);
}

.button:focus:before,
.icon-button:focus:before {
    opacity: 0.2;
}



button::-moz-focus-inner {
    border: 0;
}


/* Icon Button */
.icon-button {
    width: 40px;
    height: 40px;
}

.icon-button:before {
    border-radius: 50%;
}

/* Text Input */
.textarea {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 16px 24px;
    border-radius: 16px;
    margin: 10px 0;
    font-size: 14px;
    font-family: inherit;
    background: #f1f3f4;
    display: block;
    overflow: auto;
    resize: none;
    line-height: 16px;
    max-height: calc(100vh - 254px);
    white-space: pre;
}


/* Info Animation */

#about {
    color: white;
    z-index: 11;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
}

#about .fade-in {
    transition: opacity 300ms;
    will-change: opacity;
    transition-delay: 300ms;
    z-index: 11;
    pointer-events: all;
}

#about:not(:target) .fade-in {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

#about .logo {
    --icon-size: 96px;
}

#about x-background {
    position: absolute;
    top: calc(28px - 250px);
    right: calc(36px - 250px);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: var(--primary-color);
    transform: scale(0);
    z-index: -1;
}

/* Hack such that initial scale(0) isn't animated */
#about x-background {
    will-change: transform;
    transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#about:target x-background {
    transform: scale(10);
}

#about .row a {
    margin: 8px 8px -16px;
}

#about section {
    flex-grow: 1;
}

#about header {
    align-self: end;
}

/* Loading Indicator */

.progress {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -8px;
    clip: rect(0px, 80px, 80px, 40px);
    --progress: rotate(0deg);
    transition: transform 200ms;
}

.circle {
    width: 72px;
    height: 72px;
    border: 4px solid var(--primary-color);
    border-radius: 40px;
    position: absolute;
    clip: rect(0px, 40px, 80px, 0px);
    will-change: transform;
    transform: var(--progress);
}

.over50 {
    clip: rect(auto, auto, auto, auto);
}

.over50 .circle.right {
    transform: rotate(180deg);
}


/* Generic placeholder */
[placeholder]:empty:before {
    content: attr(placeholder);
}

/* Toast */

.toast-container {
    padding: 0 8px 24px;
    overflow: hidden;
    pointer-events: none;
}

x-toast {
    position: absolute;
    min-height: 48px;
    top: 50px;
    width: 100%;
    max-width: 344px;
    background-color: rgb(var(--text-color));
    color: rgb(var(--bg-color));
    align-items: center;
    box-sizing: border-box;
    padding: 8px 24px;
    z-index: 20;
    transition: opacity 200ms, transform 300ms ease-out;
    cursor: default;
    line-height: 24px;
    border-radius: 8px;
    pointer-events: all;
}

x-toast:not([show]):not(:hover) {
    opacity: 0;
    transform: translateY(-100px);
}


/* Instructions */

x-instructions {
    position: relative;
    opacity: 0.5;
    transition: opacity 300ms;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

x-instructions:not([drop-peer]):not([drop-bg]):before {
    content: attr(mobile);
}

x-instructions[drop-peer]:before {
    content: "Release to send to peer";
}

x-instructions[drop-bg]:not([drop-peer]):before {
    content: "Release to select recipient";
}

x-instructions p {
    display: none;
}

x-peers:empty~x-instructions {
    opacity: 0;
}

@media (hover: none) and (pointer: coarse) {
    x-peer {
        transform: scale(0.95);
        padding: 4px 0;
    }
}

#websocket-fallback {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    opacity: 0.5;
    transition: opacity 300ms;
}

#websocket-fallback>span {
    margin: 2px;
}

#websocket-fallback > span > span {
    border-bottom: solid 4px var(--ws-peer-color);
}

/* Responsive Styles */
@media screen and (max-width: 360px) {
    x-dialog x-paper {
        padding: 15px;
    }
    x-paper > div:last-child {
        margin: auto -15px -15px;
    }
}

@media screen and (min-height: 800px) {
    footer {
        margin-bottom: 16px;
    }
}

@media (hover: hover) and (pointer: fine) {
    x-instructions:not([drop-peer]):not([drop-bg]):before {
        content: attr(desktop);
    }
}

/*
    Color Themes
*/

/* Default colors */
body {
    --text-color: 51,51,51;
    --bg-color: 250,250,250; /*rgb code*/
    --bg-color-test: 18,18,18;
    --bg-color-secondary: #f1f3f4;
    --border-color: #e7e8e8;
}

/* Dark theme colors */
body.dark-theme {
    --text-color: 238,238,238;
    --bg-color: 18,18,18; /*rgb code*/
    --bg-color-secondary: #333;
    --border-color: #252525;
}

/* Colored Elements */
body {
    color: rgb(var(--text-color));
    background-color: rgb(var(--bg-color));
    transition: background-color 0.5s ease;
}

x-dialog x-paper {
    background-color: rgb(var(--bg-color));
}

.textarea {
    color: rgb(var(--text-color)) !important;
    background-color: var(--bg-color-secondary) !important;
}

.textarea * {
    margin: 0 !important;
    padding: 0 !important;
    color: unset !important;
    background: unset !important;
    border: unset !important;
    opacity: unset !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-style: unset !important;
    font-weight: unset !important;
}

/* Image/Video/Audio Preview */
.file-preview {
    margin: 10px -24px 40px -24px;
}

.file-preview:empty {
    display: none;
}

.file-preview > img,
.file-preview > audio,
.file-preview > video {
    max-width: 100%;
    max-height: 40vh;
    margin: auto;
    display: block;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {

    /* defaults to dark theme */
    body {
        --text-color: 238,238,238;
        --bg-color: 18,18,18; /*rgb code*/
        --bg-color-secondary: #333;
        --border-color: #252525;
    }

    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
        --text-color: 51,51,51;
        --bg-color: 250,250,250; /*rgb code*/
        --bg-color-secondary: #f1f3f4;
        --border-color: #e7e8e8;
   }
}


/*
    Edge specific styles
*/
@supports (-ms-ime-align: auto) {

    html,
    body {
        overflow: hidden;
    }
}

/*
    iOS specific styles
*/
@supports (-webkit-overflow-scrolling: touch) {
    html {
        min-height: -webkit-fill-available;
    }
}

/* webkit scrollbar style*/

::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius: 4px;
}
